<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./../vendor/autoload.php">
    <testsuites>
        <testsuite name="Configuration">
            <directory suffix="Test.php">./</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./../src</directory>
            <exclude>
                <directory>./../vendor</directory>
                <directory>./../tests</directory>
                <directory>./../examples</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>